
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    background-image: url('/assets/im-bank-logo.png');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px;
  }
  
 
  .auth-card {
    width: 400px;
    padding: 20px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.603);
    transition: transform 0.3s ease-in-out;
  }
  
  .auth-card:hover {
    transform: scale(1.02);
  }
  
 
  mat-card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: rgb(9, 8, 8);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
 
  mat-form-field {
    width: 100%;
  }
  
  mat-form-field input {
    color: white !important;
  }
  
  mat-form-field input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  

  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: #0d6efd;
    box-shadow: 0px 4px 15px rgba(13, 110, 253, 0.3);
  }
  
  
  .error-message {
    color: #ff5a5a;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  mat-card-actions a {
    text-decoration: none;
    color: rgb(6, 6, 6);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  mat-card-actions a:hover {
    color: #11fc19;
  }
  
  
  @media (max-width: 500px) {
    .auth-card {
      width: 100%;
      padding: 15px;
    }
  }
  