<div class="auth-container">
    <mat-card class="auth-card">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
         
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" placeholder="Enter new password" required />
            <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
              Password is required
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">
              Password must be at least 6 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="newPassword" placeholder="Enter new password" required />
            <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
              Password must match
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">
              Password must be at least 6 characters long
            </mat-error>
          </mat-form-field>
  
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid || isSubmitting">
            {{ isSubmitting ? 'Resetting...' : 'Reset Password' }}
          </button>
        </form>
      </mat-card-content>
  
      <mat-card-actions style="justify-content: center;">
        <p class="login-link">
          Go back to  <a (click)="navigateToLogin()">Login</a>
        </p>
        
      </mat-card-actions>
    </mat-card>
  </div>
  