<div class="auth-container">
    <div class="logo-wrapper">
      <img src="/assets/im-bank-logo.png" alt="I&M Bank Logo" class="logo-img">
    </div>
  
    <mat-card class="auth-card" @fadeIn>
      <mat-card-header>
        <mat-card-title class="header-title">Reset Your Password</mat-card-title>
        <mat-card-subtitle class="subtitle">
          Enter your email to receive password reset instructions.
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" required>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors">
              {{ getEmailErrorMessage() }}
            </mat-error>
          </mat-form-field>
  
          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>
  
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid || isSubmitting" class="reset-button">
            {{ isSubmitting ? 'Sending...' : 'Send Reset Link' }}
          </button>
        </form>
      </mat-card-content>
  
      <mat-card-actions style="justify-content: center;">

        <a routerLink="/login" class="forgot-password-link">Back to login</a>
      </mat-card-actions>
    </mat-card>
  </div>
  
  